@model BulkyBook.Models.CoverType

@{
    ViewData["Title"] = "Edit";
}

<h4 class="mt-5">Edit CoverType</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row p-3">
                <div class="col form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
                <div class="col form-group">
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
